p,
ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7edf1;
}

.profile {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    border: 1px solid grey;
    background-color: white;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    padding: 20px;
}

.name {
    font-weight: 600;
    padding: 10px 0px;
}

.tag,
.location {
    color: gray;
    padding: 10px 0px;
}

.stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #f3f6f9;
    list-style: none;
}

.label {
    color: gray;
}

.quantity {
    font-weight: 600;
}

.stats li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    margin: -1px -1px -1px -1px;
    padding: 20px;
}